.container {
  background-color: #BAC9CF;
}

h1 {
  color: #FECD51;
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav-list li {
  float: left;
}

#nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img {
  width: 50%;
}

#em-headshot {
  width: 40%;
  border-radius: 50%;
}

#skills li {
  display: inline-block;
  margin: 10px;
  padding: 3%;
  color: black;
  background: white;
  list-style: none;
  cursor: default;
}
